:host {
  width: 10rem;
  height: 14rem;
  display: inline-flex;
  padding: 1rem;
  flex-direction: column;
  margin: 1rem;
  cursor: pointer;
  white-space: wrap;

  &:hover{
    transform: scale(1.05);
    transition: transform 0.1s;
  }
  .graphic-card-item__top {
    flex: 1 1 auto;
    position: relative;
    &-image{
      width: 100%;
      max-height: 9rem;
    }
    &-badge{
      position: absolute;
      inset: auto 0 0.25rem auto;
      border-radius: 4px;
      border: 1px solid rgb(0, 105, 167);
      background-color: rgb(0, 105, 167);
      padding: 0.25rem 0.5rem;
      color: white;
    }
  }
  .graphic-card-item__bottom {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    height: 4rem;
    &-title{
      color: rgb(51, 51, 51);
      font-size: 0.875rem;
    }
    &-detail {
      color:#BF0019;
      font-weight: bold;
      font-size: 1.25rem;
      margin-top: auto;
    }
  }
}
