<ng-container *ngIf="item">
  <div class="graphic-card-item__top">
    <img class="graphic-card-item__top-image" [src]="item.image" width="100%" height="100%">
    <div class="graphic-card-item__top-badge">{{item.manufacturer}}</div>
  </div>
  <div class="graphic-card-item__bottom">
    <div class="graphic-card-item__bottom-title">
      {{item.name}}
    </div>
    <div class="graphic-card-item__bottom-detail">
      {{item.price}}€
    </div>
  </div>
</ng-container>
