.graphic-card-details {
  display: flex;
  padding: 0 10%;
  justify-content: center;
  &__left {
    flex: 0 1 auto;
    padding: 2rem;
    &-image {
      object-fit: contain;
      max-width: 400px;
    }
  }
  &__right {
    flex: 1 1 auto;
    max-width: 400px;
    padding: 2rem;
    &-price {
      font-size: 44px;
      color: #ff6000;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}

.data-item {
  display: flex;
  &__left {
    flex: 0 1 50%;
    color: #4c4c4c;
    font-weight: 700;
  }
  &__right {
    flex: 1 1 auto;
  }
  &+.data-item {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .graphic-card-details {
    flex-direction: column;
  }
}
