<button mat-fab color="primary" (click)="back()"><mat-icon>arrow_back</mat-icon></button>

<div class="graphic-card-details" *ngIf="this.graphicCard | async as gc;">
  <div class="graphic-card-details__left">
    <img class="graphic-card-details__left-image" [src]="gc.image" />
  </div>
  <div class="graphic-card-details__right">
    <h2>{{gc.model}}</h2>
    <div class="graphic-card-details__right-price">{{gc.price}}€</div>
    <div class="graphic-card-details__right-data">
      <ng-container [ngTemplateOutlet]="dataItem" [ngTemplateOutletContext]="{$implicit:gc.manufacturer, title: 'Manufacturer'}"></ng-container>
      <ng-container [ngTemplateOutlet]="dataItem" [ngTemplateOutletContext]="{$implicit:gc.name, title: 'Name'}"></ng-container>
    </div>
  </div>
</div>

<ng-template #notFound>
  Item not found
</ng-template>

<ng-template #dataItem let-value let-key="title">
  <div class="data-item">
    <div class="data-item__left">
      {{key}}
    </div>
    <div class="data-item__right">
      {{value}}
    </div>
  </div>
</ng-template>

<!--
export interface GraphicCardModel {
  image: string;
  manufacturer: string;
  model: string;
  name: string;
  price: number;
} -->
