<ng-container *ngIf="items$ | async as graphicCards; else loading">
  <app-list [items]="graphicCards" [itemTemplate]="itemTemplate" [columns]="4"></app-list>
</ng-container>

<div *ngIf="loading$ | async">
  <ng-container [ngTemplateOutlet]="loading"></ng-container>
</div>


<ng-template #itemTemplate let-item let-index="index">
  <app-graphic-card-item [item]="item" (click)="itemClickHandler(index)"></app-graphic-card-item>
</ng-template>

<ng-template #loading>
  <img class="spinner" src="/assets/img/spinner.gif" />
</ng-template>

