<div class="graphic-cards__header">
  <!--TODO: create a component for this-->
  <form [formGroup]="searchBarForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Filter By</mat-label>
      <mat-select formControlName="filterType">
        <mat-option [value]="'brand'">Brand</mat-option>
        <mat-option [value]="'name'">Name</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput type="search" id="searchBar" name="searchBar" formControlName="filterString" (input)="search()" />
      <button matSuffix role="button" type="submit">
      </button>
    </mat-form-field>
  </form>
</div>
<router-outlet></router-outlet>
