.graphic-cards__header {
  padding: 2rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-evenly;
  button[type=submit] {
    background-image: url('../../../assets/img/search.png');
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
    border: none;
  }
}
