.item-row__wrapper {
  display: flex;
  justify-content: center;
  white-space: wrap;
}


@media (max-width: 600px) {
  .item-row__wrapper {
    flex-direction: column;
    align-items: center;
    white-space: wrap;
  }
}
