<ng-container *ngFor="let n of getColumnArray();index as colIndex">
  <div class="item-row__wrapper">
    <ng-container *ngFor="let item of items.slice(colIndex*columns, (colIndex+1)*columns);index as i">
      <ng-container [ngTemplateOutlet]="itemTemplate || defaultTemplate"
      [ngTemplateOutletContext]="{ $implicit: item, index: (colIndex*columns) + i}">
    </ng-container>
  </ng-container>
</div>




<ng-template #defaultTemplate let-item>
  <li #defaultTemplate>
    {{item | json}}
  </li>
</ng-template>
